# Conditional Dependencies
pyobjc; platform_system == "Darwin"
tensorflow; platform_system != "Darwin"
tensorflow-macos; platform_system == "Darwin"

# Core Dependencies
streamlit
cmake==3.25.2
dlib==19.24.2
protobuf
build

# Google API
google-api-core
google-cloud-texttospeech

# Machine Learning & AI
accelerate
diffusers
evaluate
jax
langchain-community
langchain-google-genai
langchain-huggingface
instructor
spacy
tf-keras
torch
torchvision
torchaudio

# Computer Vision
opencv-contrib-python
opencv-python-headless
pytesseract
imutils
moviepy

# Audio & Speech
edge-tts
speechrecognition
gtts
pyttsx3

# Data Processing
pandas
pandasai

# Miscellaneous
rpa
rpaframework
textblob
uvloop
watchdog
websockets
