# Core Dependencies
streamlit
cmake==3.25.2
protobuf

# Machine Learning & AI
tensorflow-cpu==2.12.0
transformers
sentencepiece
keras==2.12.0
datasets==3.2.0
langchain
evaluate
spacy
langgraph==0.2.50
instructor
spacy
tf-keras
torchaudio
langchain-community==0.2.17

# Computer Vision
opencv-contrib-python-headless
pytesseract
imutils

# Audio & Speech
speechrecognition
gtts
pyttsx3

# Data Processing
pandas

# Google API
google-api-core
google-cloud-texttospeech
google-api-python-client


# Machine Learning & AI
#accelerate==0.20.0
#diffusers
#evaluate
#jax
#langchain-community
#langchain_google_genai==2.0.7
# chromadb
# langchain-huggingface


# Computer Vision
opencv-contrib-python
opencv-python-headless
pytesseract
imutils



# Miscellaneous
rpa
rpaframework
textblob
uvloop
watchdog
websockets

